<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/ae9f8842-3011-45c8-97df-64f376bb1848/resourceGroups/DotNet-RG/providers/Microsoft.ContainerRegistry/registries/dotnet031demo</ResourceId>
    <ResourceName>dotnet031demo</ResourceName>
    <ResourceGroup>DotNet-RG</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://dotnet031demo.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>344d5471-8f8f-4130-a8bc-f56c87dbfd06</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>